@media (max-width: 767px) {
    /* Estilos específicos para celulares */

 
   body{
    margin-top: 80px;
   }
   .menuhamburger{
    display: block;
 }
 .menuhamburger svg{
    width: 20px;
    display: block;
 }
 .menulateral{
    display: none;
 }

 
 .listlateral li {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .listlateral li a{
    color: #fff;
    font-weight: lighter;
    transition: .2s;
    width: 100%;
    padding: 20px;
  }

  nav ul li a:hover{
    color: #fff;
 }
.listlateral{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    height: 100vh;
    width: 30%;
    text-align: center; 
    z-index: 1000;
}

 .cross{
    display: none;
 }

    .menu{
        display: none;
    }

    .inicio{
        margin-top: 100px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        gap: 200px;
    }
    section{
        width: 100vw;
        height: 100vh;
     }
    section.inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Sobre Mim */
    .eu {
        font-size: 14px; 
        line-height: 1.6;
        margin: 20px;
        padding: 10px; 
      }

      section.sobremim{
        margin-top: 100px ;
        margin-bottom: 150px;
      }
   .iconsSobremim{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   }

   /* Section Projectos */
   section.projectos{
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-auto-rows: 290px;
    gap: 50px;
    justify-content: center;
 }

 /* Section Servicos */
 section.Serviços{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: firacode;
    margin-top: 650px;
    margin-bottom: 200px;
  }

  .containerServicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
 
  }
  .cardServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    scale: 1;
 
    width: 300px;
    height: 300px;
    border-radius: 8px;
    background-color: #ffffff10;
    transition: .2s;
  }


   /* Habilidades */
   section.habilidades{
    display: flex;
    padding: 0;
    margin-left: 0;
    flex-direction: column;
    font-family: firacode;
    margin-bottom: 200px;
  }
   .containerHabilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardHabilidades{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: #ffffff10;
  }
 



  }